*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 16px;
  display: block;
}


.preview {
  float: left;
  width: 450px;
  height: 250px;
  padding: 20px 25px;
  background-position: center;
  background-size: cover;
  text-transform: capitalize;
  text-align: left;
  font-family: serif;
  font-size: .8em;
}

.baku {
  background-image: url(../images/baku.jpg);
  background-color: #000000;
}

.london {
  background-image: url(../images/london.png);
  background-color: #000000;
}

.madrid {
  background-image: url(../images/madrid.jpg);
  background-color: #000000;

}.rome {
  background-image: url(../images/rome.jpg);
  background-color: #000000;
}

 .container {
   text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  font-size: .8em;
    letter-spacing: 2px;
}

/*one-column*/
@media screen and (min-width: 60em) {
  body {
    background-color: #dadada;
  }

  h1 {
    color: #000;
    font-size: 3em;
  }
}
/* code added to create two-column design */
@media screen and (min-width: 575px){
   .preview {
    margin: 1%;
    width: 48%;
  }
}
  h1 {
    font-size: 1.8em;
    margin: 0;
  }
/* four-column */
@media screen and (min-width: 991px) {
  .preview {
    margin: 1%;
    width: 20%;
  }
}
h1 {
  font-size: 2em;
  margin: 0;
}
